html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrapper{
    position:absolute;
    padding:10px;
    border:1px solid #888;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px gray;
    
    display:grid;
    grid-template-columns: repeat(3,minmax(98px,6.5em));
    grid-auto-rows: 3em;
    justify-items: center;
    align-items: center;
}

#bar{
    grid-column-start: span 3;
}

a.buttonClose{
    cursor: pointer;
    color: white;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 22px;
    line-height: 0px;
    float:right;
    
    padding-left: 3.5px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 3px;
}

.buttonClose:before{
    content:"x";
}

.Button{
    height:30px;
    width:95px;
    border:1px solid #888;
    display:flex;
    background: #ECECEC;
    text-align: center;
}

.ButtonBig{
    cursor:pointer;
    height:30px;
    width:95px;
    border:1px solid #888;
    display:flex;
    background: #ECECEC;
}

.text{
    margin-left: 10px;
    margin-top: 3px;
    color: darkblue;
    font-size: 20px;
}

.ButtonCheckbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.ButtonCheckbox{
    height:7px;
    width:7px;
    margin-top: 9px;
    margin-left: 5px;
    padding-top:5px;
    padding-left:5px;
    outline: 1px solid #888;
}
 
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.ButtonCheckbox input:checked ~ .checkmark:after{
    display: block;
}

.ButtonCheckbox .checkmark:after{
    position:absolute;
    width: 5px;
    height: 10px;
    content:"X";
    color:red;
    margin-left: -4px;
    margin-top: -8px;
}
